@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        *{
            font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
        }
        body {
            background-image: url('wood.jpg');
            background-size: cover;
            margin: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            position: relative;
        }
        #game-container {
            position: relative;
            width: 400px;
            height: 600px;
            border: 2px solid #000;
            overflow: hidden;
            display: none; /* Hide game container until game starts */
        }
        #player {
            width: 140px;
            position: absolute;
            bottom: 0;
            left: 130px;
        }
        #score {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 24px;
            color: white;
        }
        #controls {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }
        #controls button {
            width: 50px;
            height: 50px;
            margin: 0 10px;
            font-size: 24px;
        }
        .menu {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            font-size: 24px;
        }
        .menu button {
            margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    background: #00000082;
        }
        /* تنسيقات عامة للصور المتساقطة حسب الـ id */
#lw {
    height: 90px;
    position: absolute;
    top: 0;
    transition: top 0.5s linear;
}

#karan, #garo {
    height: 70px;
    position: absolute;
    top: 0;
    transition: top 0.5s linear;
}
span{
    font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
